<h1>star, hello</h1>
<p>pleased to meet you, <span style="font-size:24px;color:green">star</span></p>
<%= @asdf.attributes %>
<br/>
<p style="width:500px;border:solid 5px orange;background-color:#ccc">
<span>id is: </span> <span style="color:blue"><%= @asdf.id %></span>
</p>
